# ディレクトリ
data
.idea
__pycache__
.vscode
build
.ipynb_checkpoints

# 設定ファイル
*.json
*.so
*.dll
*.pyc
*.pyd
*.pkl
*.npy
*.pth
*.ipynb
*.xml

# 画像ファイル
*.bmp
*.BMP
*.png
*.jpg
*.jpeg
*.pgm
*.tiff

# レコードファイル
*.csv
*.xlsx
*.xlsm
*.docx
*.pptx
